

.c-header-nav-item{
    font-size: large;
    font-weight: bold;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    text-align: center;
}


.table-filters.col{
margin-top: 10px;
}

#breadcrumb{
    text-transform: capitalize;
}

.phoneMask{
    outline: 0 !important;
}

form[name="editForm"] button[type="reset"]{
display: none;
}

/* 
.timeline-buttons{
    height: 55% !important;
    width: max-content;
    border-radius: 4px !important;
    
} */

.fs-4{
    font-size:medium !important;
}

/* label.active{
    background-color: blueviolet;
} */

.Z-Index{
    z-index: 100;
}

.height-graph{
    height:75%;
}

label.active{
    background-color: cornflowerblue !important;
    /* width: max-content; */
}
.timelineButton{
    width: max-content;
   border-radius: 5px !important;
}

.date-picker-custom{
    outline: none !important;
    background: white !important;
}

.react-timerange-picker__wrapper {
    border: thin solid #ebedef !important;
}

.c-sidebar-brand > img {
    cursor: default !important;
    }

    .css-2b097c-container *{
        text-transform: capitalize !important;
    }

    .fa-moon{
        display: none !important;
    }