

.c-header-nav-item{
    font-size: large;
    font-weight: bold;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    text-align: center;
}


.table-filters.col{
margin-top: 10px;
}

#breadcrumb{
    text-transform: capitalize;
}

.phoneMask{
    outline: 0 !important;
}

form[name="editForm"] button[type="reset"]{
display: none;
}

/* 
.timeline-buttons{
    height: 55% !important;
    width: max-content;
    border-radius: 4px !important;
    
} */

.fs-4{
    font-size:medium !important;
}

/* label.active{
    background-color: blueviolet;
} */

.Z-Index{
    z-index: 100;
}

.height-graph{
    height:75%;
}

label.active{
    background-color: cornflowerblue !important;
    /* width: max-content; */
}
.timelineButton{
    width: max-content;
   border-radius: 5px !important;
}

.date-picker-custom{
    outline: none !important;
    background: white !important;
}

.react-timerange-picker__wrapper {
    border: thin solid #ebedef !important;
}

.c-sidebar-brand > img {
    cursor: default !important;
    }

    .css-2b097c-container *{
        text-transform: capitalize !important;
    }

    .fa-moon{
        display: none !important;
    }
   /* new changes */
body .c-sidebar .c-sidebar-brand {
    background: #fff !important;
}
body .c-sidebar .c-sidebar-brand img {
    height: 35px;
}
body .c-sidebar {
    background: #325AA9 !important;
}
body .c-sidebar .c-sidebar-nav-link {
    border-left: 5px solid transparent;
    color: #fff;
    font-weight: 500;
}
body .c-sidebar .c-sidebar-nav-link.c-active, body .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    background: #1F4898 !important;
    border-left: 5px solid #FF8B02;
}
body .c-sidebar .c-sidebar-nav-link:hover, body .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #1F4898 !important;
}
body #breadcrumb a {
    color: #545659;
}
body #breadcrumb > div:last-child a {
    color: #545659;
    font-weight: 500;
}
body .c-body .c-main  .card {
    box-shadow: 0 7px 10px #74849726;
    border-radius: 10px;
}
body .c-body .c-main .card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #E6E6E6;
}
body .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: #fff;
}
body .btn {
    border-radius: 10px !important;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    box-shadow: none !important;
}
body .btn.btn-sm {
    border-radius: 5px !important;
}
body .btn:hover {
    color: #fff;
    opacity: .9;
}
body .btn.btn-success {
    background-color: #00bf797a;
    border: 1px solid #00BF78 !important;
   
}
body .btn.btn-danger {
    background-color: #FD9F9F;
    border: 1px solid #E39A9A !important;
   
}
body .btn.btn-secondary , body .btn.btn-info, body .btn.btn-primary {
    background-color: #2e476557;
    border: 1px solid #2e476530 !important;
    color: #fff !important;
}
body small {
    font-weight: bold;
    color: #24282D;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
body .table-striped tbody tr:nth-of-type(odd) {
    background-color: #F3F3F3;
}
body .table-bordered th, .table-bordered td {
    box-shadow: none;
    border-color: #E6E6E6;
    color: #56677A !important;
    vertical-align: middle;
}
body .table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}
body .table>:not(:first-child) {
    border-top: 0px solid currentColor;
}
body .table-bordered thead td, .table-bordered thead th {
    color: #24282D !important;
    font-size: 15px;
    padding: 1em;
}
body .btn.dropdown-toggle {
    border: 1px solid #B7C1CC !important;
    background-color: #fff;
    box-shadow: none !important;
    border-radius: 10px;
    color: #717171 !important;
}
body .pagination .page-link {
    background-color: #fff;
    border: 1px solid #B7C1CC;
    border-radius: 10px !important;    
    color: #717171;
}
body .pagination  .page-item.active .page-link {
    background-color: #325AA9;
    border-color: #2B4D8F;
}
.pagination .page-item {
    margin: 0 5px;
}
body .c-main {
    background: #F5F6FA;
}
body .c-app:not(.c-legacy-theme) .c-header.c-header-fixed {
    box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
}
body .c-app:not(.c-legacy-theme) .c-sidebar.c-sidebar-lg-show.c-sidebar-fixed, .c-app:not(.c-legacy-theme) .c-sidebar.c-sidebar-show.c-sidebar-fixed {
    box-shadow: none;
}
body .form-control, body .form-select {
    border: 1px solid #EBEBEB;
    background-color: #f9f9f9 !important;
    border-radius: 10px !important;
}
body .button-tables a, body .button-tables button {
    width: auto;
}
body .btn.disabled, body .btn:disabled {
    opacity: .35;
}
body .button-tables a, body .button-tables button {
    margin: 2px;
}
.react-timerange-picker .react-timerange-picker__wrapper {
    border: none !important;
    height: initial;
}
.react-timerange-picker .react-timerange-picker__inputGroup {
    height: auto;
}
.react-timerange-picker input {
    margin: 0 5px;
    outline: none;
}
.react-timerange-picker input:focus {
    border-color: #8ad4ee;
    box-shadow: 0 0 0 0.2rem rgb(50 31 219 / 25%);
}
body .c-sidebar .c-sidebar-nav-link, body .c-sidebar .c-sidebar-nav-dropdown-toggle ,
body .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon, body .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon{
    color: #fff;
    font-weight: 600;
}
body .c-sidebar-nav-dropdown {
    border-left: 5px solid transparent;
}
body .c-sidebar-nav-dropdown.c-show {
    border-left: 5px solid #FF8B02;
}
.react-timerange-picker__wrapper .react-timerange-picker select {
    padding: 5px 2px;
    margin-right: 5px;
}