

.c-header-nav-item{
    font-size: large;
    font-weight: bold;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    text-align: center;
}


.table-filters.col{
margin-top: 10px;
}

#breadcrumb{
    text-transform: capitalize;
}

.phoneMask{
    outline: 0 !important;
}

form[name="editForm"] button[type="reset"]{
display: none;
}

.custom-button{
    /* margin-top: 15% !important; */
    height: 55% !important;
    width: 55%;
    font-size: medium !important;
    font-style: bolder !important;
    letter-spacing: 2px !important;
}

.timeline-buttons{
    height: 55% !important;
    width: max-content;
    border-radius: 4px !important;
    
}

/* label.active{
    background-color: blueviolet;
} */
