
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    text-align: center;
}

/* .c-subheader {
    display: none !important;
} */


#breadcrumb{
    text-transform: capitalize;
}


.phoneMask{
    outline: 0 !important;
}
/* .c-default-layout{
background-image: url("../images/istockphoto-1325226744-612x612.jpg");
background-repeat: none !important;
background-position-x: none;
background-repeat: no-repeat;
background-size: cover;
} */



form[name="editForm"] button[type="reset"]{
    display: none;
    }

    
.c-sidebar-brand > img {
cursor: default !important;
}

.css-2b097c-container *{
    text-transform: capitalize !important;
}

.fa-moon{
    display: none !important;
}
/* new changes */
.c-sidebar .c-sidebar-brand {
    background: #fff;
}
.c-sidebar .c-sidebar-brand img {
    height: 35px;
}
.c-sidebar {
    background: #325AA9;
}
.c-sidebar .c-sidebar-nav-link {
    border-left: 5px solid transparent;
    color: #fff;
    font-weight: 500;
}
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    background: #1F4898;
    border-left: 5px solid #FF8B02;
}
.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: #1F4898;
}
#breadcrumb a {
    color: #545659;
}
#breadcrumb > div:last-child a {
    color: #545659;
    font-weight: 500;
}
.c-main .animated > .card {
    box-shadow: 0 7px 10px #74849726;
    border-radius: 10px;
}
.c-main .animated .card > .card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: #fff;
}
body .btn {
    border-radius: 10px !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 10px;
    color: #fff;
    box-shadow: none !important;
    font-size: 14px;
}
body .btn:hover {
    color: #fff;
    opacity: .9;
}
body .btn.btn-success {
    background-color: #00bf797a;
    border: 1px solid #00BF78 !important;
   
}
body .btn.btn-danger {
    background-color: #FD9F9F;
    border: 1px solid #E39A9A !important;
   
}
body .btn.btn-secondary , body .btn.btn-info {
    background-color: #2e476557;
    border: 1px solid #2e476530 !important;
}
body small {
    font-weight: bold;
    color: #24282D;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F3F3F3;
}
.table-bordered th, .table-bordered td {
    box-shadow: none;
    border-color: #E6E6E6;
    color: #56677A !important;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}
.table>:not(:first-child) {
    border-top: 0px solid currentColor;
}
.table-bordered thead td, .table-bordered thead th {
    color: #24282D !important;
    font-size: 15px;
    padding: 1em;
}
.btn.dropdown-toggle {
    border: 1px solid #B7C1CC !important;
    background-color: #fff;
    box-shadow: none !important;
    border-radius: 10px;
}
.pagination .page-link {
    background-color: #fff;
    border: 1px solid #B7C1CC;
    border-radius: 10px !important;    
    color: #717171;
}
.pagination  .page-item.active .page-link {
    background-color: #325AA9;
    border-color: #2B4D8F;
}
.pagination .page-item {
    margin: 0 5px;
}