
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    text-align: center;
}

/* .c-subheader {
    display: none !important;
} */


#breadcrumb{
    text-transform: capitalize;
}


.phoneMask{
    outline: 0 !important;
}
/* .c-default-layout{
background-image: url("../images/istockphoto-1325226744-612x612.jpg");
background-repeat: none !important;
background-position-x: none;
background-repeat: no-repeat;
background-size: cover;
} */



form[name="editForm"] button[type="reset"]{
    display: none;
    }

    
.c-sidebar-brand > img {
cursor: default !important;
}

.css-2b097c-container *{
    text-transform: capitalize !important;
}

.fa-moon{
    display: none !important;
}