.login-page {
    background-image: url("login-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #002258 !important;
}
